@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* { margin: 0; padding: 0; font-weight: normal;}

body {
  background-color: ghostwhite;
  color: rgb(40, 40, 40);
  font-family: 'Roboto', serif;
  text-align: center;
  line-height: 1.25;
}
/* section = parent to aside, article, or div */
section {padding: 9vh 0;}

/* aside = grid parent container */
aside {
  padding: 1vh 1vh;
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* article = flex parent container */
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 3vh auto 5vh;
}

/* standard grid child */
aside > div {
  background-color: rgb(40, 40, 40);
  border-radius: 9px;
  color: ghostwhite;
  text-align: left;
  padding: 3vh 3vh;
}

aside > div > h1 {
  margin-top: 1vh;
}

/* standard flex child */
article > div {
  box-shadow: 5px 5px 5px gray;
  background-color: white;
  border-radius: 9px;
  margin: 1vh;
  width: 320px;
  padding: 6vh 3vh;
}
article > div > p {
  margin-bottom: 1vh;
  font-weight: 400;
}

.hero {
  color: ghostwhite;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/coqui_frog.jpeg') fixed 0%;
  background-size: cover;
  min-width: 100%;
  display: flex;
  justify-content: center; /* horizontally center the image */
  align-items: center; /* vertically center the image */
}

.hero > div {
  padding: 30vh 0 30vh;
}

.sharp {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/coqui_bar_area.jpg') fixed;
  background-size: cover;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.sharp2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/nightlife.jpg') fixed top;
  background-size: cover;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.shdiv {
  max-width: min(600px, 70vw);
  padding: 1vh 0 0 6vw;
  min-height: 70vh;
  text-align: left;
  color: ghostwhite;
}

nav {
  background-color: rgb(150, 150, 148);
  position: sticky; top: 0;
  text-align: right;
  padding: 0.5vh .5vh;
  display: inline-block;
  width: 99%;
  /* border-bottom: 2px solid #fff; */
}

nav > div {
  float: left;
  padding-top: 0.5vh;
}

nav a {
  padding-right: 1vw;
  line-height: 1;
  color: rgb(8, 8, 9);
}

footer {
  background-color: rgb(40, 40, 40);
  padding: 1vh 0 9vh;
  color: ghostwhite;
}

a {
  line-height: 2.5;
  text-decoration: none;
  color: royalblue;
}

a:hover {
  color: gold;
}

button:hover, #sign_up:hover {
  background-color: green;
}

label {
  font-size: small;
}

ul {
  margin: 0 5vw;
  text-align: center;
  list-style: none;
  font-size: min(2vw, 30px);
}

h1 {
  font-size: min(8vw, 40px);
  padding-bottom: 0.5em;
  font-weight: bold;
}

h2 {
  font-size: min(6vw, 30px);
  padding-bottom: 0.25em;
}

h3 {
  font-size: min(5vw, 22px);
  padding-bottom: 0.25em;
  font-weight: bold;
}

h4 {
  font-size: min(5vw, 22px);
  padding-bottom: 0.25em;
  line-height: 1.5;
}

h5 {
  font-size: min(4.5vw, 20px);
  padding-bottom: 0.25em;
  line-height: 1.5;
}

h6 {
  font-size: min(4.5vw, 20px);
  text-decoration:line-through;
  line-height: 1.5;
}

p {
  font-size: min(4vw, 18px);
  font-weight: 300;
}

a {
  font-size: min(3.5vw, 18px);
}

svg, img {
  height: 30px;
}

.swe img {
  margin: 4px;
}

